@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=GFS+Didot");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.projectsBar {
  display: none; }

@media only screen and (min-width: 970px) {
  .projectsBar {
    min-height: 480px;
    background-color: black;
    position: fixed;
    width: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg); }
    .projectsBar img {
      display: none; }
    .projectsBar:hover img {
      display: flex; } }
@media only screen and (min-width: 970px) {
  .projectsBar.realizacje {
    position: absolute; } }
.navbar {
  margin-top: 20px;
  border-bottom: 1px solid #999999; }

@media only screen and (min-width: 770px) {
  .navbar {
    border-bottom: 0px solid; } }
.navigation__bar li {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  padding-top: 30px; }
  .navigation__bar li a {
    text-decoration: none; }
    .navigation__bar li a:hover {
      cursor: pointer; }

@media only screen and (min-width: 770px) {
  .navigation__bar li {
    display: inline-block;
    border-left: 1px solid black;
    padding: 0 12px;
    font-size: 11px; }
    .navigation__bar li:first-of-type {
      padding-left: 0;
      border-left: none; } }
.navbar__bg {
  background-color: #152143;
  padding-bottom: 30px;
  padding-left: 10px;
  display: none;
  height: 80vh; }
  .navbar__bg #nav--main .navigation__bar a {
    color: white; }

.navbar__bg.open {
  display: block; }

@media only screen and (min-width: 770px) {
  .navbar__bg {
    background-color: white;
    display: flex;
    height: auto; }
    .navbar__bg #nav--main {
      position: relative;
      top: -37px;
      width: 50%; }
    .navbar__bg #nav--main .navigation__bar a {
      color: black; }
      .navbar__bg #nav--main .navigation__bar a:hover {
        color: #0033ff; }
      .navbar__bg #nav--main .navigation__bar a.current {
        color: #0033cc; } }
.logo__img.current {
  fill: #0033cc; }

@media only screen and (min-width: 400px) {
  .logo__img {
    width: auto; } }
.logo__div {
  display: flex;
  justify-content: flex-end; }

.logo__div a .logo__img {
  height: 100%;
  max-height: 100%;
  max-width: 200px; }
  .logo__div a .logo__img:hover {
    fill: #0033ff;
    color: #0033ff;
    cursor: pointer; }

@media only screen and (min-width: 400px) {
  .logo__img {
    width: auto;
    max-width: 100%; } }
#nav-icon1 {
  padding-top: 5px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: relative;
  left: 40px;
  top: -10px;
  float: right;
  margin: 10px 20px; }

#nav-icon1 span {
  z-index: 3;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 10px; }

#nav-icon1 span:nth-child(3) {
  top: 20px; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

#nav--main {
  display: inline-block;
  visibility: hidden; }

@media only screen and (min-width: 770px) {
  #nav--main {
    display: flex;
    visibility: visible; }
    #nav--main .navigation__bar {
      display: flex;
      flex-direction: row; } }
#nav--main.open {
  display: flex;
  flex-direction: column;
  visibility: visible; }

.nav--icon {
  visibility: visible; }

@media only screen and (min-width: 770px) {
  .nav--icon {
    visibility: hidden; } }
.quote {
  margin-top: 30px; }

.quote__author {
  font-family: "Source Code Pro", monospace;
  color: #cccccc;
  padding: 25px 0; }

@media only screen and (min-width: 993px) {
  .quote__author {
    -ms-transform: rotate(270deg);
    /* IE 9 */
    -webkit-transform: rotate(270deg);
    /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position: absolute;
    left: -55px;
    top: -100px;
    padding: 0px; }

  .quote {
    margin-bottom: 30px; } }
.quote_quotationMark, .quote__text {
  font-size: 34px;
  font-family: "GFS Didot", serif;
  color: #151e3c;
  line-height: 1; }

@media only screen and (min-width: 750px) {
  .quote_quotationMark, .quote__text {
    font-size: 80px; } }
.quote_quotationMark {
  font-size: 150px;
  line-height: 0;
  margin-top: 100px;
  margin-bottom: 15px; }

.intro__text {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding: 20px 0; }

.arrow__down {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.arrow--more:hover {
  cursor: pointer;
  opacity: 0.5; }

@media only screen and (min-width: 993px) {
  .arrow--more {
    position: relative;
    right: 0px;
    top: -90px; } }
.post {
  border-bottom: 1px solid black;
  margin-top: 90px; }

.post__info {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.post__category {
  font-weight: lighter;
  font-size: 11px;
  text-transform: uppercase; }
  .post__category span {
    padding: 0 12px;
    border-left: 1px solid black; }
    .post__category span:first-of-type {
      padding-left: 0;
      border-left: none; }

.post__title {
  margin: 30px 0 40px 0;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: lighter; }
  .post__title:hover {
    color: #0033ff;
    cursor: pointer; }

.socialMedia__ul li {
  font-family: "GFS Didot", serif;
  color: #0033ff;
  font-size: 22px;
  display: inline-block;
  padding: 0 12px;
  border-left: 1px solid #0033ff;
  margin: 25px 0; }
  .socialMedia__ul li:first-of-type {
    padding-left: 0;
    border-left: none; }
  .socialMedia__ul li a {
    color: inherit; }
    .socialMedia__ul li a:hover {
      opacity: 0.5;
      cursor: pointer;
      text-decoration: none; }

.footer {
  background-color: #152143;
  height: 380px;
  margin-top: 170px; }

@media only screen and (min-width: 769px) {
  .footer {
    background: linear-gradient(to right, #152143 63%, #fff 63%);
    height: 420px; } }
.sygnet {
  position: relative; }

.screen--big {
  display: none; }

.screen--small {
  display: inline-block;
  position: absolute;
  top: 136px; }

@media only screen and (min-width: 769px) {
  .screen--big {
    display: inline-block; }

  .screen--small {
    display: none; } }
.k__sygnet {
  position: fixed;
  bottom: -100px;
  clear: both;
  z-index: 2; }
  .k__sygnet:hover {
    cursor: pointer;
    opacity: 0.5; }

.fixed {
  position: fixed;
  bottom: -100px; }

.absolute {
  position: absolute;
  top: 136px; }

.info {
  color: white;
  padding: 0px 0 0 0; }

@media only screen and (min-width: 769px) {
  .info {
    padding: 250px 0 80px 0; } }
.info__contact {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  padding-top: 150px; }

@media only screen and (min-width: 769px) {
  .info__contact {
    font-size: 25px;
    padding-top: 0px; } }
.info__socialMediaItem {
  display: inline-block;
  margin: 45px 5px 0 0; }
  .info__socialMediaItem:hover {
    cursor: pointer;
    opacity: 0.45; }
  .info__socialMediaItem img {
    width: 40px;
    height: 40px; }

.proggramsWeKnow {
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 200%;
  padding: 10px 0 10px 20px; }
  .proggramsWeKnow--intro {
    font-size: 14px; }

@media only screen and (min-width: 769px) {
  .proggramsWeKnow {
    margin-top: 0px; } }
@media only screen and (min-width: 1000px) {
  .proggramsWeKnow {
    font-size: 24px; }
    .proggramsWeKnow--intro {
      font-size: 18px; } }
.copyRights {
  margin-top: 30px;
  color: #999999;
  font-size: 12px;
  padding: 25px 0;
  height: 70px; }

@media only screen and (min-width: 769px) {
  .copyRights {
    margin-top: 0px; } }
.contactInfo {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 35px; }

@media only screen and (max-width: 750px) {
  .contactInfo {
    font-size: 20px; } }
.contactInfoDetails {
  font-family: "Raleway", sans-serif; }

.contactInfoDetails--intro {
  padding: 30px 0 20px 0;
  font-size: 14px; }

.aboutUs {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif; }

.aboutUs__img {
  position: absolute;
  background-image: url("../images/whatWeDo.jpg");
  height: 30vw;
  background-size: cover;
  width: 69%;
  overflow: hidden;
  filter: opacity(0.5); }

@media only screen and (max-width: 768px) {
  .aboutUs__img {
    width: 100%;
    height: 60vw; } }
.aboutUs__title {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 8rem;
  padding-top: 137px; }

@media only screen and (max-width: 970px) {
  .aboutUs__title {
    font-size: 6rem; } }
@media only screen and (max-width: 768px) {
  .aboutUs__title {
    padding-top: 40vw; } }
@media only screen and (max-width: 500px) {
  .aboutUs__title {
    font-size: 3rem; } }
.aboutUs__name {
  margin-top: 20px;
  font-size: 40px;
  font-weight: lighter; }

.aboutUs__desc {
  font-size: 14px;
  padding-bottom: 30px; }

.aboutUs__desc--footer {
  color: #0033cc;
  padding-bottom: 0; }

.teamMembe__img {
  background-image: url("../images/whatWeDo.jpg");
  height: 20vw;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  filter: opacity(0.5); }

@media only screen and (max-width: 768px) {
  .teamMembe__img {
    height: 70vw; } }
@media only screen and (min-width: 750px) {
  .projects {
    background: linear-gradient(to right, white 50%, black 50%);
    min-height: 480px; } }
.projects {
  z-index: 2; }

.carousel-indicators {
  display: none; }

@media only screen and (min-width: 750px) {
  .carousel-indicators {
    display: inline-block; } }
.projects__show {
  background-color: black;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px; }

@media only screen and (min-width: 750px) {
  .projects__show {
    min-height: 480px;
    flex-direction: row; } }
@media only screen and (min-width: 970px) {
  .projects__show {
    font-size: 15px; } }
.projects__show--rightSide {
  width: 100%; }

@media only screen and (min-width: 750px) {
  .projects__show--rightSide {
    width: 40%; } }
.projects__show--leftSide {
  width: 100%;
  position: relative; }

@media only screen and (min-width: 500px) {
  .projects__show--leftSide {
    width: 80%; } }
@media only screen and (min-width: 750px) {
  .projects__show--leftSide {
    width: 60%; } }
.projects__img {
  width: 80%; }

.projects__website {
  position: absolute;
  height: 59%;
  width: 60%;
  top: 19%;
  left: 20%;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .projects__website img {
    max-height: 100%;
    display: block;
    margin: 0 auto; }

.projects__title {
  font-size: 20px;
  font-weight: lighter; }

@media only screen and (min-width: 970px) {
  .projects__title {
    font-size: 40px; } }
.projects__table th {
  text-align: left;
  padding: 5px 20px;
  vertical-align: top; }
.projects__table td {
  text-align: left;
  padding: 5px 20px;
  vertical-align: top; }

.img-responsive, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 80vh; }

@media only screen and (min-width: 750px) {
  .img-responsive, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-height: 480px; } }
.carousel-inner {
  background-color: black; }

.arrow {
  align-self: flex-start;
  padding-left: 20px;
  padding-bottom: 10px; }

@media only screen and (min-width: 750px) {
  .arrow {
    position: relative;
    top: 165px; } }
.arrow img {
  height: 50px;
  max-width: 40px; }
  .arrow img:hover {
    opacity: 0.7;
    cursor: pointer; }

.spaceBetween {
  height: 10px;
  width: 100vw;
  background-color: white; }

@media only screen and (min-width: 750px) {
  .spaceBetween {
    display: none; } }
.projects__details {
  background-color: black;
  text-align: left;
  padding-bottom: 100px; }

.projects__details > * {
  margin: 30px 50px; }

.projects__webPrtSc img,
.projects__webPrtSc--additional img {
  width: 100%;
  height: auto;
  padding: 20px 0; }

.post__cnt {
  max-width: 100%; }
  .post__cnt img {
    max-width: 100%;
    padding: 40px 0; }
  .post__cnt p {
    padding: 10px 0; }

/*# sourceMappingURL=style.css.map */
