@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=GFS+Didot');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&subset=latin-ext');


$primary-font: "Raleway", sans-serif;
$quotation-font: 'Source Code Pro', monospace;
$didot-font: 'GFS Didot', serif;
$info-font: 'Montserrat', sans-serif;
